<!--
Credit to: https://github.com/cuduy197/vue-flashcard
-->
<template>
    <div>
        <div @click="isToggle=!isToggle" v-bind:style="{backgroundColor: colorFront, color: colorTextFront}" v-show="!isToggle" class="animated flipInX flashcard">
            <div class="card-header" style="padding-bottom: 15px;"> {{headerFront}} </div>
            <div class="card-content center">
                <!-- <p v-bind:style="{fontSize: textSizeFront,fontWeight: 'bold'}">{{front}}</p> -->
                <span v-html="front"></span>
                <img v-if="imgFront!=''" :src="imgFront" width="200" height="200">
            </div>
            <div class="card-footer">{{footerFront}}</div>
        </div>
        <div @click="isToggle=!isToggle" v-bind:style="{backgroundColor: colorBack, color: colorTextBack}" v-show="isToggle" class="animated flipInX flashcard">
            <div class="card-header" style="padding-bottom: 15px;"> {{headerBack}}</div>
            <div class="card-content center">
                <!-- <p v-bind:style="{fontSize: textSizeBack, fontWeight: 'bold'}">{{back}}</p> -->
                <!-- <span v-html="back"></span> -->
                <!-- <p v-bind:style="{fontSize: textSizeBack, fontWeight: 'bold'}">123</p> -->
                <ComplexBack v-if="complexBack.length > 0" :complexBack="complexBack" />
                <img v-if="imgBack!=''" :src="imgBack" width="200" height="200">
            </div>
            <div class="card-footer">{{footerBack}}</div>
        </div>
    </div>
</template>
<script>
import Vue from "vue";

Vue.component("ComplexBack", {
  // https://vuejs.org/v2/guide/render-function.html#createElement-Arguments
  render: function(createElement) {
    return createElement("div", {}, this.complexBack);
  },
  props: {
    complexBack: {
      type: Array, // Object
      default: []
    }
  }
});

export default {
  data() {
    return {
      isToggle: false
    };
  },
  props: {
    imgFront: {
      type: String,
      default: ""
    },
    imgBack: {
      type: String,
      default: ""
    },
    front: {
      type: String,
      default: ""
    },
    back: {
      type: String,
      default: ""
    },
    complexBack: {
      type: Array, // Object
      default: []
      // default: {}
    },
    textSizeFront: {
      type: String,
      default: "2em"
    },
    textSizeBack: {
      type: String,
      default: "2em"
    },
    colorTextFront: {
      type: String,
      default: "black"
    },
    colorTextBack: {
      type: String,
      default: "white"
    },
    colorFront: {
      type: String,
      default: "white"
    },
    colorBack: {
      type: String,
      default: "#2ecc71"
    },
    headerFront: {
      type: String,
      default: "Do you know?"
    },
    headerBack: {
      type: String,
      default: "Answer"
    },
    footerFront: {
      type: String,
      default: "Click to show Back"
    },
    footerBack: {
      type: String,
      default: "Click to show Front"
    }
  }
};
</script>

// <style lang="stylus">
// @import '../theme/styles/config.styl'

// </style>

<style scoped>

.center {
  text-align: center;
}
.flashcard {
  cursor: pointer;
  border-radius: 10px;
  margin: 20px;
  padding: 25px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.flashcard:hover {
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.8);
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}
</style>